@charset "utf-8";
html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', Georgia, 'Times New Roman', Times, serif;
}
#container {
    background-color:white;
    margin: 40px 450px 0px ;
    text-align: center;
}
#plan {
    display: flex;
    flex-direction: row;
    background-color: hsl(225, 100%, 98%);
    margin:0px 20px;
}
#plan-text {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#plan-text p {
    margin-left:2px ;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}
#link1 {
    margin-left: 150px;
    margin-top: 20px;                              
}
#image2 {
    margin:7px 0px 0px 15px;
}

#text {
    margin: 0px;      
}
img {
      width:100%;
      height:auto;
}
#b1 {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-style: hidden;
    height: 30px;
}
#b2 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-style: hidden;
    height: 30px;
}
#b1:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
    border-radius: 1em;
}
#b2:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
    border-radius: 1em;
}

@media only screen and (max-width:320px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-color: hsl(225, 100%, 94%);
        font-family: 'Red Hat Display', Georgia, 'Times New Roman', Times, serif;
    }
    #container {
        background-color:white;
        margin: 30px 5px 0px 5px;
        text-align: center;
        border-radius: 1em;
    }
    #plan {
        display: flex;
        flex-direction: row;
        background-color: hsl(225, 100%, 98%);
        margin:0px 20px 0px 20px;
        border-radius: 0.5em;

    }
    #plan-text {
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        font-size: 12px;
    }
    #plan-text p {
        margin-left:20px ;
    }
    #buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 0px 0px 0px;
    }
    #link1 {
        margin-left: 60px;
        margin-top: 20px;                              
    }
    #image2 {
        margin:0px 0px 0px 0px;
    }
    
    #text {
        margin: 0px;      
    }
    img {
        width:100%;
        height: auto;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    #b1 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: white;
        border-style: hidden;
        height: 40px;
    }
    #b2 {
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: white;
        border-style: hidden;
        height: 40px;
    }
    #b1:hover {
        background-color: blue;
        cursor: pointer;
        color: white;
        border-radius: 0.5em;
    }
    #b2:hover {
        background-color: blue;
        cursor: pointer;
        color: white;
        border-radius: 0.5em;
    }
    h1 {
        font-size: 20px;
    }
    #text1 {
        margin: 0px 8px 20px 8px;
        text-align: center;
        line-height: 25px;
    }
    .attribution {
        margin-top: 7px;
    }
}